<div class="flex flex-col justify-between h-[100dvh]">
	<div>
		<header class="flex justify-between w-full px-12 py-1 items-center bg-slate-800">
			<div class="flex flex-col items-center w-12 rounded bg-slate-100 px-1 py-0.5">
				<img src="/assets/brand-logo.png" class="w-8 h-8" />
				<p class="text-xs font-medium">Todo's</p>
			</div>
			<h4 class="font-medium text-zinc-300">Welcome, guest</h4>
		</header>
		<section class="mt-12 px-12">
			<router-outlet></router-outlet>
		</section>
	</div>
	<footer>
		<p class="text-center text-sm pb-3">&copy; 2013 | j-todo's</p>
	</footer>
</div>
